{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        blue: {
                            900: '#0F1112',
                            800: '#151718',
                            700: '#181A1E',
                            600: '#55565C',
                        }
                    }
                },
            }
        }
    </script>
    {% block meta %}
    {% endblock meta %}
</head>
<main>
    <div class="flex flex-col align-items-center justify-center w-screen min-h-screen bg-gray-900 px-10 py-10">
        <div class="py-4">
            <a href="/dashboard/"
                class="px-3 py-2 text-sm font-medium text-center text-white bg-opacity-20 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Back To Event
            </a>
        </div>
        <section id="perempat-final" style="display: block;">
            <h1 class="text-center text-lg text-gray-400 font-medium">Pertandingan Perempat Final</h1>
            <h2 class="text-center text-lg text-gray-400 font-medium">[00:00]</h2>
            <div class="flex flex-col mt-6">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden sm:rounded-lg">
                            <table class="min-w-full text-sm text-gray-400">
                                <thead class="bg-gray-800 text-xs uppercase font-medium">
                                    <tr>
                                        <th></th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 2
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 2
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-800">

                                    <tr class="bg-black bg-opacity-20">
                                        <td class="pl-4">
                                            1
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            A
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            B
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            11
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            3


                                    </tr>
                                    <tr>
                                        <td class="pl-4">
                                            2
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            C
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            D
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            9
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            6
                                        </td>

                                    </tr>
                                    <tr class="bg-black bg-opacity-20">
                                        <td class="pl-4">
                                            3
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            E
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            F
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            10
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            2
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="pl-4">
                                            4
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            G
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            H
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            10
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            2
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="flex flex-col d-grid mt-1 bg-gray-800">
                                <button class="btn btn-primary btn-next p-2 text-xs uppercase font-medium text-white"
                                    data-section="semi-final" type="submit"><a href="#semi-final">Next</a></button>
                            </div>
                        </div>
        </section>
        <section id="semi-final">
            <h1 class="text-center text-lg text-gray-400 font-medium">Pertandingan SEMIFINAL</h1>
            <h2 class="text-center text-lg text-gray-400 font-medium">[00:00]</h2>
            <div class="flex flex-col mt-6">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden sm:rounded-lg">
                            <table class="min-w-full text-sm text-gray-400">
                                <thead class="bg-gray-800 text-xs uppercase font-medium">
                                    <tr>
                                        <th></th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 2
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 2
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-800">

                                    <tr class="bg-black bg-opacity-20">
                                        <td class="pl-4">
                                            1
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            A
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            B
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            11
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            3


                                    </tr>
                                    <tr>
                                        <td class="pl-4">
                                            2
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            C
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            D
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            9
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            6
                                        </td>

                                    </tr>


                                </tbody>
                            </table>
                            <div class="flex flex-col d-grid mt-1 bg-gray-800">
                                <button class="btn btn-primary btn-next p-2 text-xs uppercase font-medium text-white"
                                    data-section="juara-3" type="submit"><a href="#juara-3">Next</a></button>
                            </div>
                        </div>
        </section>
        <section id="juara-3">
            <h1 class="text-center text-lg text-gray-400 font-medium">Pertandingan Juara 3</h1>
            <h2 class="text-center text-lg text-gray-400 font-medium">[00:00]</h2>
            <div class="flex flex-col mt-6">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden sm:rounded-lg">
                            <table class="min-w-full text-sm text-gray-400">
                                <thead class="bg-gray-800 text-xs uppercase font-medium">
                                    <tr>
                                        <th></th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Tim 2
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 1
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left tracking-wider">
                                            Skor Tim 2
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="bg-gray-800">

                                    <tr class="bg-black bg-opacity-20">
                                        <td class="pl-4">
                                            1
                                        </td>
                                        <td class="flex px-6 py-4 whitespace-nowrap">
                                            A
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            B
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            11
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            3


                                    </tr>
                                </tbody>
                            </table>
                        </div>
        </section>
    </div>
    </div>
    </div>

    </div>
    
</main>



<script>
    $(function () {
        $("#semi-final").hide()
        $("#juara-3").hide()
        $(".btn-next").on("click", function () {
            //hide all sections
            $("section").hide();
            //show the section depending on which button was clicked
            $("#" + $(this).attr("data-section")).show();
        });

    });
</script>

</html>